.heading{
    position:absolute;
    color:red;
    font-size:3cm;
    background-color:yellow;
    display:inline;
    border-style:dashed;
    border-width:5px;
    border-color:green;
    text-align:center;
    left:750px;
    top:400px;
    }

